<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL users</title>
</head>
<body>
   <table border="1">
    <tr>
        <th>Id</th>
        <th>student name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <%  for(user of users){%> 
        <tr>
            <td><%= user.id %></td>
            <td><%= user.s_name %></td>
            <td><%= user.email %></td>
            <td><a href="http://localhost:8080/user/<%= user.id %>/edit"><button>Edit username</button></a></td>
            <td><a href="http://localhost:8080/user/<%= user.id %>/delete"><button>Delete user</button></a></td>
        </tr>
    <%}%> 
   </table>
   <br>
   <br>
   <a href="http://localhost:8080/user/addStudent"><button>ADD STUDENT</button></a>
</body>
</html>

